ul{
  display: flex;
  list-style: none;
  /* background-color: pink; */
  padding: 1em;
  box-shadow: 2px 2px 10px lightgray;
}

ul li{
  margin: 0 1em;
  font-size: 1.8rem;
  color:orange;
}

a{
  text-decoration: none;
}

.active_styles{
  background-color: black;
}